

<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>
            RPS Game
        </title>
    </head>
    <body>
        <nav>
            <a href="/">Home Page</a>
        </nav>
        <h1>
            {% if winner != None %}
                <span class= "inputs">{{ winner.name }}</span> wins by playing <span class= "inputs">{{ winner.choice }}</span>
                
            {% else %}
                IT WAS A DRAW
            {% endif %} 
        </h1>
    </body>
</html>