

<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>RPS Game</title>
    </head>
    
    <body>
        <h1 class= "title">ROCK PAPER SCISSORS GAME</h1>

        <h2>Rules</h2>

        <p>
            To play, you will need to input each players choice (rock, paper or scissors) into the url in the format of /player1choice/player2choice. Then hit enter!
        </p>
        <p> The winning player will then be displayed! </p>
    </body>
</html>